// BASE BUTTON STYLES
////////////////////////////////////////////////////////////////

%button-base {
  transition: background, 0.2s;
  display: inline-block;
  padding: 0.5em 1em;
  color: var(--blue) !important;
  background-color: #fff;
  border: var(--base-border);
  border-radius: var(--base-border-radius);
  font-size: 1.5em;
  font-weight: 8006px solid var(--yellow);
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;

  &:focus {
    outline: thin dotted #333;
    outline-offset: -2px;
  }

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: #fff;
    opacity: 0.8;
    outline: 0;
    text-decoration: none;
  }
}

// Button Types
////////////////////////////////////////////////////////////////

// Main Button
button,
.button {
  @extend %button-base;
}

// Secondary Button
.button--reveal {
  @extend %button-base;
  color: var(--blue) !important;
  background-color: var(--light-green);
  border-color: var(--green);

  &:hover,
  &:active,
  &.active {
    background-color: var(--light-green);
    border-color: var(--green);
    opacity: 1;
  }
}

// Button Sizes
////////////////////////////////////////////////////////////////

.button--large {
  @extend %button-base;
  font-size: 2.5em !important;
  @media (max-width: 600px) {
    font-size: 2em !important;
  }
}

.button--small {
  @extend %button-base;
  font-size: 0.75em !important;
}

.button--tiny {
  @extend %button-base;
  font-size: 0.5em !important;
}

.button--block {
  @extend %button-base;
  display: block !important;
  width: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

// Special Links
////////////////////////////////////////////////////////////////

.button--link:before {
  position: relative;
  top: -0.05em;
  right: 0.25em;
  content: "‹";
  font-size: 1em;
  line-height: 0;
}
